<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles-templates/styles-templates.css" />
    <title>Data Base</title>
  </head>
  <body>
    <h1>Data base</h1>
    1. Conceitos de Tabelas e Relacionamentos Tabelas: Estruturas de dados que
    armazenam informações em formato de linhas e colunas. Cada coluna representa
    um atributo e cada linha, um registro. Relacionamentos: Conexões entre
    tabelas baseadas em chaves primárias e estrangeiras. Eles permitem a
    organização e a integração de dados entre diferentes tabelas, formando o
    modelo relacional. 2. Operações INSERT, SELECT, UPDATE, DELETE INSERT:
    Insere novos registros em uma tabela. SELECT: Consulta registros existentes
    em uma ou mais tabelas, com a possibilidade de aplicar filtros e ordenar os
    resultados. UPDATE: Modifica registros já existentes em uma tabela. DELETE:
    Remove registros de uma tabela. 3. Filtros, Ordenação e Funções Agregadas
    Filtros: Utilizados em consultas para restringir os dados retornados,
    geralmente por meio de cláusulas como WHERE. Ordenação: A ordenação dos
    resultados pode ser feita com a cláusula ORDER BY, que permite ordenar por
    uma ou mais colunas. Funções Agregadas: Operações como SUM, AVG, COUNT, MIN
    e MAX, que permitem calcular valores a partir de um conjunto de registros.
    4. Modelagem de Dados e JOINs Modelagem de Dados: O processo de definir como
    os dados são organizados, armazenados e relacionados no banco de dados,
    utilizando conceitos como entidades, atributos e relacionamentos. JOINs:
    Operações que permitem combinar dados de duas ou mais tabelas baseadas em
    uma coluna comum, como INNER JOIN, LEFT JOIN, RIGHT JOIN e FULL JOIN. 5.
    Chaves Primárias e Estrangeiras Chave Primária (Primary Key): Identificador
    único para cada registro de uma tabela. Não pode conter valores duplicados
    ou nulos. Chave Estrangeira (Foreign Key): Campo que cria um vínculo entre
    duas tabelas, apontando para a chave primária de outra tabela para garantir
    a integridade referencial. Esses conceitos são fundamentais para o uso
    eficaz de bancos de dados relacionais e manipulação de dados com SQL.
  </body>
</html>
