body{ 
        background-image: url('../styles/img/02.PNG'); /* Define a imagem de fundo */
        background-size: cover; /* Faz com que a imagem cubra toda a área do fundo */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita que a imagem se repita */
    
}

h1, h2{
    color: aliceblue;
}

header{

}