<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles-templates/styles-templates.css"> 
    <link rel="stylesheet" href="styles/index.css">
    <title>Logica</title>
  </head>
  <body>
    <header>
      <h1>Lógica de Programação e Desenvolvimento de Software em Java</h1>
      <h2>Explorando Algoritmos, Estruturas e a JVM</h2>
    </header>

    <div class="container">
      <div class="content">
        <h3>
          lógia 
          Lógica: 

Ciência que estuda as leis do raciocínio; 
Correção/validação do pensamento; Encadeamento/ordem de idéias; 
Arte de bem pensar;

Exemplos da aplicação da Lógica: 

P1: Uma lesma deve subir um poste de 10m de altura. De dia sobe 2m e à noite desce 1m. Em quantos dias atingirá o topo do poste?

P2: Três gatos comem três ratos em três minutos. Cem gatos comem cem ratos em quantos minutos?

P3: O pai do padre é filho do meu pai. O que eu sou do Padre?

Exemplos da aplicação da Lógica: 

O quarto está fechado e que meu livro está no quarto. Então, preciso primeiro abrir o quarto para pegar o livro
Rosa é mãe de Ana, Paula é filha de Rosa, Júlia é filha de Ana. Então, Júlia é neta de Rosa e sobrinha de Paula
Todo mamífero é animal e todo cavalo é mamífero. Então, todo cavalo é animal
Todo mamífero bebe leite e o homem bebe leite. Então, todo homem é mamífero é animal (mas não é um cavalo)
Todo problema computacional, pode ser quebrado em partes menores;

Após identificar os sub-problemas (partes menores), identificamos uma estratégia para resolvê-los e então utilizamos os comandos da programação para produzir uma solução para o problema;

A resolução de um problema qualquer sempre passará pela estrutura básica a seguir;

Entrada dos dados 
Processamento dos Dados 
Saída dos Dados

   

          1. Introdução ao Processo de Desenvolvimento de Software em Java
        </h3>
        <p>
          Java é uma linguagem robusta e versátil, muito utilizada no mercado.
          Sua principal característica é a portabilidade, graças à Java Virtual
          Machine (JVM), que permite a execução do código em diferentes
          plataformas.
        </p>

        <h3>2. Algoritmos</h3>
        <p>
          Um algoritmo, é uma sequência de ações ordenadas logicamente que são necessárias para a resolução de uma determinada tarefa. 

Em computação, esta sequência de ações para a realização de uma tarefa deve ser escrita em uma linguagem de programação.

Existem diversas Linguagens de Programação, em nossa academia, veremos a linguagem Java, que é uma linguagem procedimental e Orientada a Objetos.
Cada linguagem de programação, possui suas particularidades, mas todas elas na sua essência compartilham as mesmas operações básicas:
citação: "Operação mental que observa a realidade e captura apenas os aspectos relevantes 
para um contexto"

        </p>

        <h3>3. Variáveis e Constantes</h3>
        <p>
          As variáveis são espaços de memória usados para armazenar dados que
          podem mudar. Já as constantes possuem valores fixos que não podem ser
          alterados após a atribuição.
        </p>

        <h3>4. Estruturas de Decisão e Repetição</h3>
        <p>
          As estruturas de controle de fluxo como "if-else" e loops (for, while)
          são fundamentais para criar programas que tomam decisões e repetem
          ações com base em condições específicas.
        </p>

        <h3>5. Tratamento de Exceções</h3>
        <p>
          O tratamento de exceções em Java é uma técnica essencial para lidar
          com erros que podem ocorrer durante a execução do programa, garantindo
          que ele continue funcionando adequadamente.
        </p>

      </div>
    </div>
  </body>
</html>
