<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles-templates/styles-templates.css"> 
    <link rel="stylesheet" href="styles/index.css">
    <title>Logica</title>
  </head>
  <body>
    <header>
      <h1>Lógica de Programação e Desenvolvimento de Software em Java</h1>
      <h2>Explorando Algoritmos, Estruturas e a JVM</h2>
    </header>

    <div class="container">
      <div class="content">
        <h3>
          1. Introdução ao Processo de Desenvolvimento de Software em Java
        </h3>
        <p>
          Java é uma linguagem robusta e versátil, muito utilizada no mercado.
          Sua principal característica é a portabilidade, graças à Java Virtual
          Machine (JVM), que permite a execução do código em diferentes
          plataformas.
        </p>

        <h3>2. Algoritmos</h3>
        <p>
          Um algoritmo é a sequência de passos para a resolução de um problema.
          Em Java, os algoritmos são implementados através de funções e métodos,
          que descrevem a lógica a ser seguida pelo programa.
        </p>

        <h3>3. Variáveis e Constantes</h3>
        <p>
          As variáveis são espaços de memória usados para armazenar dados que
          podem mudar. Já as constantes possuem valores fixos que não podem ser
          alterados após a atribuição.
        </p>

        <h3>4. Estruturas de Decisão e Repetição</h3>
        <p>
          As estruturas de controle de fluxo como "if-else" e loops (for, while)
          são fundamentais para criar programas que tomam decisões e repetem
          ações com base em condições específicas.
        </p>

        <h3>5. Tratamento de Exceções</h3>
        <p>
          O tratamento de exceções em Java é uma técnica essencial para lidar
          com erros que podem ocorrer durante a execução do programa, garantindo
          que ele continue funcionando adequadamente.
        </p>

        <h3>6. Operadores aritméticos e lógicos</h3>
        <p></p>

      </div>
    </div>
  </body>
</html>
